body{
    
}
.TextoInicial{
    color: white;
    text-align: center;
    background-color: #007acc;
    padding: 20px 0px
}

h1{
    color:#007acc;
}
table {
      width: 60%;
      border-collapse: collapse;
      margin: 20px auto;
      font-family: Arial, sans-serif;
    }
    th{
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
      color: #007acc;
        background-color: #f2f2f2;        
    }

    caption {
      font-size: 24px;
        margin-bottom: 10px;
      color: #007acc
    }
    td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
    }